#editor config files and directories
/.vscode
/.vs
/CMakeSettings.json

# typical build directories
/build
/out

# clangd cache
/.clangd
/.cache

# build artifact that needs to be in root for clangd to work well
/compile_commands.json
